@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --x: 100%;
    --y: 100%;
}

body {
    background-image: radial-gradient( circle 975px at var(--x) var(--y),  rgb(44, 0, 35) 0%, rgb(0, 9, 32) 99.7% );
    transition: transform 0.1s
}

p {
    color: white;
    font-family: Rubik;
}

h1 {
    color: white;
    font-family: "Rubik Mono One", monospace;
}

.title {
    margin-top: 1%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 2vw;
    height: 10%;
    align-items: center;
    justify-content: center;
    place-items: center;
}

.titletext {
    text-align: center;
    font-size: 5lvb;
}

.languages {
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 2vw;
    width: 33.3%;
    height: 85%;
    margin-top: 1%;
    display: inline-block;
    position:relative;
}

.lang-icon {
    width: 35%;
    position: relative;
    display: inline-block;
}

.lang-icon-html {
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.lang-icon-unity {
    width: 22%;
    margin-left: 5.5%;
    margin-right: 7.5%;
    margin-top: 6.5%;
    margin-bottom: 6.5%;
}

.inline {
    margin: 1%;
    display: inline-flex;
}

.middle-section {
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 2vw;
    display: inline-block;
    height: 85%;
    width: 33.3%;
    position: relative;
}

.unitymargin {
    top: 1.5%;
    bottom: 1.5%;
    position: static;
}

.projecttext {
    font-size: 3lvb;
    text-align: center;
}

.hclogo {
    width: 25%;
}

.txllogo {
    width: 25%;
    border-radius: 10%;
}

.hostcompass {
    margin-left: 4%;
}

.projectname {
    font-weight: 500;
    font-size: 2.5lvb;
    color: aqua;
    text-decoration: underline;
    text-underline-position: below;
}

.projectdesc {
    font-size: 2lvb;
}

.txl {
    font-size: 1.9lvb;
}

.fineprint {
    font-size:1.2lvb;
    font-weight: 100;
}

.social {
    margin: 5%;
}

.reddit {
    border-radius: 20%;
}

.project {
    z-index: 9999;
    z-index: 9999;
}

@font-face {
    font-family: twemoji;
    src: url(twemoji.ttf)
}

.skoll {
    font-family: twemoji;
}